<div class="row container top">
  <div class=" col form-group">
    <select class="form-control" [(ngModel)]="val" >
      <option Selected disabled value="">Select Category</option>
      <option value="">None</option>
      <option value="All">All</option>
      <option value="Premium">Premium</option>
      <option value="Tamilnadu">Tamilnadu</option>
    </select>
  </div>
  <div class="col" style="text-align: left;">
    <button class="btn btn-primary" (click)="search(val)">Search</button>
  </div>
</div>


<div class="row container content" >
  <div class="col" *ngFor="let data of items |async;" >
      <img class="item" src="assets\{{data.p_img}}" width="100px" height="100px">
      <h6> {{data.p_name}}</h6>
      <ul>
        <li class="list-group-item d-flex justify-content-between ">
          Availability
          <span class="badge badge-primary badge-pill">{{data.p_availability}}</span>
        </li>
        <li class="list-group-item d-flex " *ngIf="data.p_details!=''">
          <p >{{data.p_details}}</p>

        </li>
        <li class="list-group-item d-flex "  *ngIf="data.p_category!=''">
         Category: <p >{{data.p_category}}</p>

        </li>
      </ul>
        <p>Cost per item:&nbsp;<span><b>${{data.p_cost}}</b></span></p>

        <p><button type="button" class="btn btn-light" (click)="data.p_quantity=data.p_quantity-1">-</button>{{data.p_quantity}}<button type="button" class="btn btn-light" (click)="data.p_quantity=data.p_quantity+1">+</button></p>
      <div  *ngIf="data.p_availability!=0">
        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" (click)="cart(data)">Add to CART</button>
      </div>
      <div  *ngIf="data.p_availability==0">
        <button class="btn btn-primary" [disabled]="true" data-toggle="modal" data-target="#exampleModalCenter" (click)="cart(data)">Add to CART</button>
      </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Details:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        {{msg|json}}
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



